# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
notes.txt

workdir

*.bbl
*.blg
*.log
*.out
*.aux

*.swp
*.swo

compile.*

.DS_Store
.gitignore

papers/
report_scan_comp_ling_course/

